/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cta-block {
	border: 1px dotted #f00;
}

.scronly {
  opacity: 0.8;
  font-style: italic;
  font-size: 0.9em;
  border: 1px dashed #ccc;
  padding: 2px 4px;
  margin-top: 0.5em;
  display: block;
  position: static;
  height: auto;
  width: auto;
  clip: unset;
  clip-path: unset;
}