/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cta-block, .wp-block-cta-block {
  background-color: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--white);
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);

  h2 {
    border-left: 5px solid var(--wp--preset--color--accent-2);
    padding-left: var(--wp--preset--spacing--20);
  }

  .cta-button {
      transition:  padding-left 0.5s ease-in-out;
    	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
      margin: var(--wp--preset--spacing--20) 0 0 0;
      background-color: var(--wp--preset--color--accent-2);
      color: var(--wp--preset--color--accent-3);
      text-transform: capitalize;
      text-decoration: none;
      font-weight: 800;
      display: inline-block;

      &:hover, &:focus {
        padding-left: var(--wp--preset--spacing--50);
      }
  }
}

.scronly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
